{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "X API v2",
    "description" : "X API v2 available endpoints",
    "termsOfService" : "https://developer.x.com/en/developer-terms/agreement-and-policy.html",
    "contact" : {
      "name" : "X Developers",
      "url" : "https://developer.x.com/"
    },
    "license" : {
      "name" : "X Developer Agreement and Policy",
      "url" : "https://developer.x.com/en/developer-terms/agreement-and-policy.html"
    },
    "version" : "2.150"
  },
  "servers" : [ {
    "url" : "https://api.x.com/2",
    "description" : "X API"
  } ],
  "tags" : [ {
    "name" : "Account Activity",
    "description" : "Endpoints relating to retrieving, managing AAA subscriptions",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://docs.x.com/x-api/enterprise-gnip-2.0/fundamentals/account-activity"
    }
  }, {
    "name" : "Bookmarks",
    "description" : "Endpoints related to retrieving, managing bookmarks of a user",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/bookmarks"
    }
  }, {
    "name" : "Compliance",
    "description" : "Endpoints related to keeping X data in your systems compliant",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction"
    }
  }, {
    "name" : "Connections",
    "description" : "Endpoints related to streaming connections",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.x.com/en/docs/x-api/connections"
    }
  }, {
    "name" : "Direct Messages",
    "description" : "Endpoints related to retrieving, managing Direct Messages",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/direct-messages"
    }
  }, {
    "name" : "General",
    "description" : "Miscellaneous endpoints for general API functionality",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api"
    }
  }, {
    "name" : "Lists",
    "description" : "Endpoints related to retrieving, managing Lists",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/lists"
    }
  }, {
    "name" : "Media",
    "description" : "Endpoints related to Media",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.x.com"
    }
  }, {
    "name" : "MediaUpload",
    "description" : "Endpoints related to uploading Media",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.x.com"
    }
  }, {
    "name" : "Spaces",
    "description" : "Endpoints related to retrieving, managing Spaces",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/spaces"
    }
  }, {
    "name" : "Stream",
    "description" : "Endpoints related to streaming",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.x.com"
    }
  }, {
    "name" : "Tweets",
    "description" : "Endpoints related to retrieving, searching, and modifying Tweets",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/tweets/lookup"
    }
  }, {
    "name" : "Users",
    "description" : "Endpoints related to retrieving, managing relationships of Users",
    "externalDocs" : {
      "description" : "Find out more",
      "url" : "https://developer.twitter.com/en/docs/twitter-api/users/lookup"
    }
  } ],
  "paths" : {
    "/account_activity/replay/webhooks/{webhookId}/subscriptions/all" : {
      "post" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Create replay job",
        "description" : "Creates a replay job to retrieve activities from up to the past 5 days for all subscriptions associated with a given webhook.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "createAccountActivityReplayJob",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "The unique identifier for the webhook configuration",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/WebhookConfigId"
          }
        }, {
          "name" : "from_date",
          "in" : "query",
          "description" : "The oldest (starting) UTC timestamp (inclusive) from which events will be provided, in `yyyymmddhhmm` format",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{12}$",
            "type" : "string",
            "example" : "202504242000"
          },
          "x-ballerina-name" : "fromDate"
        }, {
          "name" : "to_date",
          "in" : "query",
          "description" : "The latest (ending) UTC timestamp (exclusive) up to which events will be provided, in `yyyymmddhhmm` format",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{12}$",
            "type" : "string",
            "example" : "202504242200"
          },
          "x-ballerina-name" : "toDate"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReplayJobCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/account_activity/subscriptions/count" : {
      "get" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Get subscription count",
        "description" : "Retrieves a count of currently active Account Activity subscriptions.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "getAccountActivitySubscriptionCount",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionsCountGetResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/account_activity/webhooks/{webhookId}/subscriptions/all" : {
      "get" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Validate subscription",
        "description" : "Checks a user’s Account Activity subscription for a given webhook.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "validateAccountActivitySubscription",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "The webhook ID to check subscription against",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/WebhookConfigId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionsGetResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "dm.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Create subscription",
        "description" : "Creates an Account Activity subscription for the user and the given webhook.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "createAccountActivitySubscription",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "The webhook ID to check subscription against",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/WebhookConfigId"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriptionsCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionsCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "dm.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/account_activity/webhooks/{webhookId}/subscriptions/all/list" : {
      "get" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Get subscriptions",
        "description" : "Retrieves a list of all active subscriptions for a given webhook.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "getAccountActivitySubscriptions",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "The webhook ID to pull subscriptions for",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/WebhookConfigId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionsListGetResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/account_activity/webhooks/{webhookId}/subscriptions/{userId}/all" : {
      "delete" : {
        "tags" : [ "Account Activity" ],
        "summary" : "Delete subscription",
        "description" : "Deletes an Account Activity subscription for the given webhook and user ID.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/account-activity/introduction"
        },
        "operationId" : "deleteAccountActivitySubscription",
        "parameters" : [ {
          "name" : "webhookId",
          "in" : "path",
          "description" : "The webhook ID to check subscription against",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/WebhookConfigId"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "User ID to unsubscribe from",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/UserId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriptionsDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/communities/search" : {
      "get" : {
        "tags" : [ "Communities" ],
        "summary" : "Search Communities",
        "description" : "Retrieves a list of Communities matching the specified search query.",
        "externalDocs" : {
          "url" : "https://developer.x.com"
        },
        "operationId" : "searchCommunities",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Query to search communities",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 4096,
            "minLength" : 1,
            "type" : "string",
            "example" : "Love"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of search results to be returned by a request",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 10,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "next_token",
          "in" : "query",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/NextToken"
          },
          "x-ballerina-name" : "nextToken"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/NextToken"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "$ref" : "#/components/parameters/CommunityFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2CommunitiesSearchResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/communities/{id}" : {
      "get" : {
        "tags" : [ "Communities" ],
        "summary" : "Get Community by ID",
        "description" : "Retrieves details of a specific Community by its ID.",
        "externalDocs" : {
          "url" : "https://developer.x.com/en/docs/x-api/communities/api-reference/get-communities-id"
        },
        "operationId" : "getCommunitiesById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Community",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/CommunityId"
          }
        }, {
          "$ref" : "#/components/parameters/CommunityFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2CommunitiesIdResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "list.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/compliance/jobs" : {
      "get" : {
        "tags" : [ "Compliance" ],
        "summary" : "Get Compliance Jobs",
        "description" : "Retrieves a list of Compliance Jobs filtered by job type and optional status.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs"
        },
        "operationId" : "getComplianceJobs",
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Type of Compliance Job to list",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "tweets", "users" ]
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of Compliance Job to list",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "created", "in_progress", "failed", "complete" ]
          }
        }, {
          "$ref" : "#/components/parameters/ComplianceJobFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ComplianceJobsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Compliance" ],
        "summary" : "Create Compliance Job",
        "description" : "Creates a new Compliance Job for the specified job type.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/post-compliance-jobs"
        },
        "operationId" : "createComplianceJobs",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateComplianceJobRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateComplianceJobResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/compliance/jobs/{id}" : {
      "get" : {
        "tags" : [ "Compliance" ],
        "summary" : "Get Compliance Job by ID",
        "description" : "Retrieves details of a specific Compliance Job by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs-id"
        },
        "operationId" : "getComplianceJobsById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the Compliance Job to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/JobId"
          }
        }, {
          "$ref" : "#/components/parameters/ComplianceJobFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ComplianceJobsIdResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/connections/all" : {
      "delete" : {
        "tags" : [ "Connections" ],
        "summary" : "Terminate all connections",
        "description" : "Terminates all active streaming connections for the authenticated application.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/connections/terminate-all-connections"
        },
        "operationId" : "deleteAllConnections",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KillAllConnectionsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ]
      }
    },
    "/dm_conversations" : {
      "post" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Create DM conversation",
        "description" : "Initiates a new direct message conversation with specified participants.",
        "operationId" : "createDirectMessagesConversation",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDmConversationRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateDmEventResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_conversations/with/{participantId}/dm_events" : {
      "get" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Get DM events for a DM conversation",
        "description" : "Retrieves direct message events for a specific conversation.",
        "operationId" : "getDirectMessagesEventsByParticipantId",
        "parameters" : [ {
          "name" : "participantId",
          "in" : "path",
          "description" : "The ID of the participant user for the One to One DM conversation",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/UserId"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get a specified 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationToken32"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "name" : "event_types",
          "in" : "query",
          "description" : "The set of event_types to include in the results",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "example" : [ "MessageCreate", "ParticipantsLeave" ],
            "items" : {
              "type" : "string",
              "enum" : [ "MessageCreate", "ParticipantsJoin", "ParticipantsLeave" ]
            },
            "default" : [ "MessageCreate", "ParticipantsLeave", "ParticipantsJoin" ]
          },
          "x-ballerina-name" : "eventTypes"
        }, {
          "$ref" : "#/components/parameters/DmEventFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/DmEventExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2DmConversationsWithParticipantIdDmEventsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_conversations/with/{participantId}/messages" : {
      "post" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Create DM message by participant ID",
        "description" : "Sends a new direct message to a specific participant by their ID.",
        "operationId" : "createDirectMessagesByParticipantId",
        "parameters" : [ {
          "name" : "participantId",
          "in" : "path",
          "description" : "The ID of the recipient user that will receive the DM",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/UserId"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateDmEventResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_conversations/{dmConversationId}/messages" : {
      "post" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Create DM message by conversation ID",
        "description" : "Sends a new direct message to a specific conversation by its ID.",
        "operationId" : "createDirectMessagesByConversationId",
        "parameters" : [ {
          "name" : "dmConversationId",
          "in" : "path",
          "description" : "The DM Conversation ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateDmEventResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_conversations/{id}/dm_events" : {
      "get" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Get DM events for a DM conversation",
        "description" : "Retrieves direct message events for a specific conversation.",
        "operationId" : "getDirectMessagesEventsByConversationId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The DM conversation ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/DmConversationId"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get a specified 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationToken32"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "name" : "event_types",
          "in" : "query",
          "description" : "The set of event_types to include in the results",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "example" : [ "MessageCreate", "ParticipantsLeave" ],
            "items" : {
              "type" : "string",
              "enum" : [ "MessageCreate", "ParticipantsJoin", "ParticipantsLeave" ]
            },
            "default" : [ "MessageCreate", "ParticipantsLeave", "ParticipantsJoin" ]
          },
          "x-ballerina-name" : "eventTypes"
        }, {
          "$ref" : "#/components/parameters/DmEventFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/DmEventExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2DmConversationsIdDmEventsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_events" : {
      "get" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Get DM events",
        "description" : "Retrieves a list of recent direct message events across all conversations.",
        "operationId" : "getDirectMessagesEvents",
        "parameters" : [ {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get a specified 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationToken32"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "name" : "event_types",
          "in" : "query",
          "description" : "The set of event_types to include in the results",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "example" : [ "MessageCreate", "ParticipantsLeave" ],
            "items" : {
              "type" : "string",
              "enum" : [ "MessageCreate", "ParticipantsJoin", "ParticipantsLeave" ]
            },
            "default" : [ "MessageCreate", "ParticipantsLeave", "ParticipantsJoin" ]
          },
          "x-ballerina-name" : "eventTypes"
        }, {
          "$ref" : "#/components/parameters/DmEventFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/DmEventExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2DmEventsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/dm_events/{eventId}" : {
      "get" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Get DM event by ID",
        "description" : "Retrieves details of a specific direct message event by its ID.",
        "operationId" : "getDirectMessagesEventsById",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "dm event id",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/DmEventId"
          }
        }, {
          "$ref" : "#/components/parameters/DmEventFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/DmEventExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2DmEventsEventIdResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Direct Messages" ],
        "summary" : "Delete DM event",
        "description" : "Deletes a specific direct message event by its ID, if owned by the authenticated user.",
        "operationId" : "deleteDirectMessagesEvents",
        "parameters" : [ {
          "name" : "eventId",
          "in" : "path",
          "description" : "The ID of the direct-message event to delete",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/DmEventId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeleteDmResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "dm.read", "dm.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/evaluate_note" : {
      "post" : {
        "tags" : [ "Community Notes" ],
        "summary" : "Evaluate a Community Note",
        "description" : "Endpoint to evaluate a community note.",
        "externalDocs" : {
          "url" : "https://communitynotes.x.com/guide/api/overview"
        },
        "operationId" : "evaluateCommunityNotes",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EvaluateNoteRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EvaluateNoteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "tweet.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/insights8hr" : {
      "get" : {
        "tags" : [ "Tweets" ],
        "summary" : "Get 28-hour Post insights",
        "description" : "Retrieves engagement metrics for specified Posts over the last 28 hours.",
        "operationId" : "getInsights28Hr",
        "parameters" : [ {
          "name" : "tweet_ids",
          "in" : "query",
          "description" : "List of PostIds for 28hr metrics",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 25,
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "example" : [ "20" ],
            "items" : {
              "$ref" : "#/components/schemas/TweetId"
            }
          },
          "x-ballerina-name" : "tweetIds"
        }, {
          "name" : "granularity",
          "in" : "query",
          "description" : "granularity of metrics response",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Total",
            "enum" : [ "Daily", "Hourly", "Weekly", "Total" ]
          }
        }, {
          "name" : "requested_metrics",
          "in" : "query",
          "description" : "request metrics for historical request",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AppInstallAttempts", "AppOpens", "DetailExpands", "EmailTweet", "Engagements", "Follows", "HashtagClicks", "Impressions", "Likes", "LinkClicks", "MediaEngagements", "MediaViews", "PermalinkClicks", "ProfileVisits", "QuoteTweets", "Replies", "Retweets", "UniqueVideoViews", "UrlClicks", "UserProfileClicks", "VideoCompletions", "VideoPlayed25Percent", "VideoPlayed50Percent", "VideoPlayed75Percent", "VideoStarts", "VideoViews" ]
            }
          },
          "x-ballerina-name" : "requestedMetrics"
        }, {
          "$ref" : "#/components/parameters/EngagementFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2Insights28hrResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "tweet.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/insights/historical" : {
      "get" : {
        "tags" : [ "Tweets" ],
        "summary" : "Get historical Post insights",
        "description" : "Retrieves historical engagement metrics for specified Posts within a defined time range.",
        "operationId" : "getInsightsHistorical",
        "parameters" : [ {
          "name" : "tweet_ids",
          "in" : "query",
          "description" : "List of PostIds for historical metrics",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 25,
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "example" : [ "20" ],
            "items" : {
              "$ref" : "#/components/schemas/TweetId"
            }
          },
          "x-ballerina-name" : "tweetIds"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the end of the time range",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "endTime"
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the start of the time range",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "startTime"
        }, {
          "name" : "granularity",
          "in" : "query",
          "description" : "granularity of metrics response",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : "Total",
            "enum" : [ "Daily", "Hourly", "Weekly", "Total" ]
          }
        }, {
          "name" : "requested_metrics",
          "in" : "query",
          "description" : "request metrics for historical request",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minItems" : 1,
            "uniqueItems" : true,
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "AppInstallAttempts", "AppOpens", "DetailExpands", "EmailTweet", "Engagements", "Follows", "HashtagClicks", "Impressions", "Likes", "LinkClicks", "MediaEngagements", "MediaViews", "PermalinkClicks", "ProfileVisits", "QuoteTweets", "Replies", "Retweets", "UniqueVideoViews", "UrlClicks", "UserProfileClicks", "VideoCompletions", "VideoPlayed25Percent", "VideoPlayed50Percent", "VideoPlayed75Percent", "VideoStarts", "VideoViews" ]
            }
          },
          "x-ballerina-name" : "requestedMetrics"
        }, {
          "$ref" : "#/components/parameters/EngagementFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2InsightsHistoricalResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "tweet.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/likes/compliance/stream" : {
      "get" : {
        "tags" : [ "Stream", "Compliance" ],
        "summary" : "Stream Likes compliance data",
        "description" : "Streams all compliance data related to Likes for Users.",
        "operationId" : "streamLikesCompliance",
        "parameters" : [ {
          "name" : "backfill_minutes",
          "in" : "query",
          "description" : "The number of minutes of backfill requested",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 5,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "backfillMinutes"
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Likes Compliance events will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "startTime"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Likes Compliance events will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "endTime"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LikesComplianceStreamResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "x-twitter-streaming" : true
      }
    },
    "/likes/firehose/stream" : {
      "get" : {
        "tags" : [ "Stream", "Likes" ],
        "summary" : "Stream all Likes",
        "description" : "Streams all public Likes in real-time.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-likes-firehose-stream"
        },
        "operationId" : "streamLikesFirehose",
        "parameters" : [ {
          "name" : "backfill_minutes",
          "in" : "query",
          "description" : "The number of minutes of backfill requested",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 5,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "backfillMinutes"
        }, {
          "name" : "partition",
          "in" : "query",
          "description" : "The partition number",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-14T18:40:40.000Z",
          "x-ballerina-name" : "startTime"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-14T18:40:40.000Z",
          "x-ballerina-name" : "endTime"
        }, {
          "$ref" : "#/components/parameters/LikeWithTweetAuthorFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/LikeWithTweetAuthorExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StreamingLikeResponseV2"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "x-twitter-streaming" : true
      }
    },
    "/likes/sample10/stream" : {
      "get" : {
        "tags" : [ "Stream", "Likes" ],
        "summary" : "Stream sampled Likes",
        "description" : "Streams a 10% sample of public Likes in real-time.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/likes/firehose/api-reference/get-likes-sample10-stream"
        },
        "operationId" : "streamLikesSample10",
        "parameters" : [ {
          "name" : "backfill_minutes",
          "in" : "query",
          "description" : "The number of minutes of backfill requested",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 5,
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "x-ballerina-name" : "backfillMinutes"
        }, {
          "name" : "partition",
          "in" : "query",
          "description" : "The partition number",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 2,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Likes will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-14T18:40:40.000Z",
          "x-ballerina-name" : "startTime"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Posts will be provided",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-14T18:40:40.000Z",
          "x-ballerina-name" : "endTime"
        }, {
          "$ref" : "#/components/parameters/LikeWithTweetAuthorFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/LikeWithTweetAuthorExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StreamingLikeResponseV2"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        } ],
        "x-twitter-streaming" : true
      }
    },
    "/lists" : {
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Create List",
        "description" : "Creates a new List for the authenticated user.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/post-lists"
        },
        "operationId" : "createLists",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "list.read", "list.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/lists/{id}" : {
      "get" : {
        "tags" : [ "Lists" ],
        "summary" : "Get List by ID",
        "description" : "Retrieves details of a specific List by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-lists-id"
        },
        "operationId" : "getListsById",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        }, {
          "$ref" : "#/components/parameters/ListFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/ListExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ListsIdResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "list.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "Lists" ],
        "summary" : "Update List",
        "description" : "Updates the details of a specific List owned by the authenticated user by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/put-lists-id"
        },
        "operationId" : "updateLists",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to modify",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListUpdateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListUpdateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "list.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Delete List",
        "description" : "Deletes a specific List owned by the authenticated user by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/delete-lists-id"
        },
        "operationId" : "deleteLists",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to delete",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "list.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/lists/{id}/followers" : {
      "get" : {
        "tags" : [ "Lists", "Users" ],
        "summary" : "Get List followers",
        "description" : "Retrieves a list of Users who follow a specific List by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers"
        },
        "operationId" : "getListsFollowers",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get a specified 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationTokenLong"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ListsIdFollowersResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "list.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/lists/{id}/members" : {
      "get" : {
        "tags" : [ "Lists", "Users" ],
        "summary" : "Get List members",
        "description" : "Retrieves a list of Users who are members of a specific List by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships"
        },
        "operationId" : "getListsMembers",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get a specified 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationTokenLong"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ListsIdMembersResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "list.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Lists" ],
        "summary" : "Add List member",
        "description" : "Adds a User to a specific List by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/post-lists-id-members"
        },
        "operationId" : "addListsMember",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List for which to add a member",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ListAddUserRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListMutateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "list.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/lists/{id}/members/{userId}" : {
      "delete" : {
        "tags" : [ "Lists" ],
        "summary" : "Remove List member",
        "description" : "Removes a User from a specific List by its ID and the User’s ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/delete-lists-id-members-user_id"
        },
        "operationId" : "removeListsMemberByUserId",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List to remove a member",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        }, {
          "name" : "userId",
          "in" : "path",
          "description" : "The ID of User that will be removed from the List",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/UserId"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListMutateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "list.write", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/lists/{id}/tweets" : {
      "get" : {
        "tags" : [ "Lists", "Tweets" ],
        "summary" : "Get List Posts",
        "description" : "Retrieves a list of Posts associated with a specific List by its ID.",
        "externalDocs" : {
          "url" : "https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets"
        },
        "operationId" : "getListsPosts",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The ID of the List",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/ListId"
          }
        }, {
          "name" : "max_results",
          "in" : "query",
          "description" : "The maximum number of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 100,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          },
          "x-ballerina-name" : "maxResults"
        }, {
          "name" : "pagination_token",
          "in" : "query",
          "description" : "This parameter is used to get the next 'page' of results",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/PaginationToken36"
          },
          "x-ballerina-name" : "paginationToken"
        }, {
          "$ref" : "#/components/parameters/TweetFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/TweetExpansionsParameter"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PollFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/UserFieldsParameter"
        }, {
          "$ref" : "#/components/parameters/PlaceFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2ListsIdTweetsResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "list.read", "tweet.read", "users.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media" : {
      "get" : {
        "tags" : [ "Media" ],
        "summary" : "Get Media by media keys",
        "description" : "Retrieves details of Media files by their media keys.",
        "externalDocs" : {
          "url" : "https://developer.x.com"
        },
        "operationId" : "getMediaByMediaKeys",
        "parameters" : [ {
          "name" : "media_keys",
          "in" : "query",
          "description" : "A comma separated list of Media Keys. Up to 100 are allowed in a single request",
          "required" : true,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MediaKey"
            }
          },
          "x-ballerina-name" : "mediaKeys"
        }, {
          "$ref" : "#/components/parameters/MediaFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Get2MediaResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "BearerToken" : [ ]
        }, {
          "OAuth2UserToken" : [ "tweet.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/analytics" : {
      "get" : {
        "tags" : [ "Media" ],
        "summary" : "Get Media analytics",
        "description" : "Retrieves analytics data for media.",
        "operationId" : "getMediaAnalytics",
        "parameters" : [ {
          "name" : "media_keys",
          "in" : "query",
          "description" : "A comma separated list of Media Keys. Up to 100 are allowed in a single request",
          "required" : true,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "maxItems" : 100,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MediaKey"
            }
          },
          "x-ballerina-name" : "mediaKeys"
        }, {
          "name" : "end_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the end of the time range",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "endTime"
        }, {
          "name" : "start_time",
          "in" : "query",
          "description" : "YYYY-MM-DDTHH:mm:ssZ. The UTC timestamp representing the start of the time range",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "2021-02-01T18:40:40.000Z",
          "x-ballerina-name" : "startTime"
        }, {
          "name" : "granularity",
          "in" : "query",
          "description" : "The granularity for the search counts results",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "daily",
            "enum" : [ "hourly", "daily", "total" ]
          }
        }, {
          "$ref" : "#/components/parameters/MediaAnalyticsFieldsParameter"
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaAnalytics"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "tweet.read" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/metadata" : {
      "post" : {
        "tags" : [ "Media" ],
        "summary" : "Create Media metadata",
        "description" : "Creates metadata for a Media file.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-metadata-create#metadata-create"
        },
        "operationId" : "createMediaMetadata",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MetadataCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MetadataCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/subtitles" : {
      "post" : {
        "tags" : [ "Media" ],
        "summary" : "Create Media subtitles",
        "description" : "Creates subtitles for a specific Media file.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-subtitles-create"
        },
        "operationId" : "createMediaSubtitles",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubtitlesCreateRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubtitlesCreateResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "Media" ],
        "summary" : "Delete Media subtitles",
        "description" : "Deletes subtitles for a specific Media file.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-subtitles-delete"
        },
        "operationId" : "deleteMediaSubtitles",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubtitlesDeleteRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubtitlesDeleteResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/upload" : {
      "get" : {
        "tags" : [ "Media" ],
        "summary" : "Get Media upload status",
        "description" : "Retrieves the status of a Media upload by its ID.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-upload-status#media-upload-status"
        },
        "operationId" : "getMediaUploadStatus",
        "parameters" : [ {
          "name" : "media_id",
          "in" : "query",
          "description" : "Media id for the requested media upload status",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "$ref" : "#/components/schemas/MediaId"
          },
          "x-ballerina-name" : "mediaId"
        }, {
          "name" : "command",
          "in" : "query",
          "description" : "The command for the media upload request",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "STATUS" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "Media" ],
        "summary" : "Upload media",
        "description" : "Uploads a media file for use in posts or other content.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-upload"
        },
        "operationId" : "mediaUpload",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaUploadRequestOneShot"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaUploadRequestOneShot"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/upload/initialize" : {
      "post" : {
        "tags" : [ "Media" ],
        "summary" : "Initialize media upload",
        "description" : "Initializes a media upload.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-upload"
        },
        "operationId" : "initializeMediaUpload",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaUploadConfigRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request has succeeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MediaUploadResponse"
                }
              }
            }
          },
          "default" : {
            "description" : "The request has failed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security" : [ {
          "OAuth2UserToken" : [ "media.write" ]
        }, {
          "UserToken" : [ ]
        } ]
      }
    },
    "/media/upload/{id}/append" : {
      "post" : {
        "tags" : [ "Media" ],
        "summary" : "Append Media upload",
        "description" : "Appends data to a Media upload request.",
        "externalDocs" : {
          "url" : "https://docs.x.com/x-api/media/media-upload"
        },
        "operationId" : "appendMediaUpload",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The media identifier for the media to perform the append operation",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "$ref" : "#/components/schemas/MediaId"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MediaUploadAppendRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
[...]
